Goal is to look into discretionary funding data from West Harlem, MoHi, and nearby areas. Are there are any disparities in the amounts of money allocated based on geographic location or any other feature? 

Ultimately should try to find some way in which resource allocation is correlated to the zoning. Could also be the case that specific types of zoning (ex. private land vs commercial etc.) affect only a few types of resource allocation like education funding. So, should also try to look at trends in funding among programs like education.

In [12]:
%matplotlib inline
import numpy as np
import scipy as sp
import pandas as pd
import os
from sodapy import Socrata

In [2]:
socrata_domain = 'data.cityofnewyork.us'
socrata_dataset_identifier = '4d7f-74pe'
socrata_token = None

In [3]:
client = Socrata(socrata_domain, socrata_token)
print("Domain: {domain:}\nSession: {session:}\nURI Prefix: {uri_prefix:}".format(**client.__dict__))

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

Domain: data.cityofnewyork.us
Session: <requests.sessions.Session object at 0x000001EB5C402188>
URI Prefix: https://

In [4]:
results = client.get(socrata_dataset_identifier)
df = pd.DataFrame.from_dict(results)
display(df.head())
print(df.size)

,mocs_id,fiscal_year,source,council_member,legal_name_of_organization,ein,status,amount,agency,program_name,...,borough,latitude,longitude,community_board,council_district,census_tract,bin,bbl,nta,address_2_optional
0,FY19 8307,2019,Food Pantries,Brooklyn Delegation,National Committee for the Furtherance of Jewi...,116003180,Cleared,15000,DYCD,Food Pantry,...,BROOKLYN,40.669328,-73.940979,9,35,337,3033069,3012720020,Crown Heights North,NaN
1,FY19 6733,2019,Neighborhood Development Grant Initiative,Rose,"Bayview Community Council, Inc.",134104889,Cleared,18000,SBS,NaN,...,STATEN IS,40.627042,-74.077342,1,49,21,5013672,5005210037,Stapleton-Rosebank,NaN
2,FY19 1403,2019,Local,Kallos,Department of Emergency Management,136400434,Cleared,4000,OEM,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,FY19 8167,2019,Food Pantries,Queens Delegation,Food Bank For New York City,133179546,Cleared,6200,DYCD,Church of the Incarnation,...,MANHATTAN,40.706251,-74.012952,1,1,13,1000803,1000200004,Battery Park City-Lower Manhattan,NaN
4,FY19 1900,2019,Local,Ayala,"Getting Out and Staying Out, Inc.",61711370,Cleared,10000,DYCD,Career Development Services for Court Involved...,...,MANHATTAN,40.799656,-73.944034,11,8,184,1074189,1016220020,East Harlem North,NaN

25000

In [5]:
council7_df=df.loc[df['council_district'] == "7"]
display(council7_df.head())
print(council7_df.size)

,mocs_id,fiscal_year,source,council_member,legal_name_of_organization,ein,status,amount,agency,program_name,...,borough,latitude,longitude,community_board,council_district,census_tract,bin,bbl,nta,address_2_optional
106,FY19 5503,2019,Immigrant Opportunities Initiative,NaN,"African Services Committee, Inc.",133749744,Cleared,27000,DSS/HRA,NaN,...,MANHATTAN,40.813002,-73.953849,9,7,21303,1084104,1019670060,Manhattanville,NaN
205,FY19 0375,2019,Local,Rodriguez,"BioBus, Inc.",262092282,Cleared,3500,DOE,NaN,...,MANHATTAN,40.814216,-73.95564,9,7,21303,1081781,1019670040,Manhattanville,NaN
235,FY19 9276,2019,Young Women's Leadership Development,NaN,"Brotherhood Sister Sol, Inc., The",133857387,Cleared,29375,DYCD,NaN,...,MANHATTAN,40.824482,-73.949867,9,7,229,1061865,1020740047,Hamilton Heights,NaN
348,FY19 0448,2019,Local,Speaker,"Boys and Girls Club of Harlem, Inc.",133102951,Cleared,25000,DYCD,NaN,...,MANHATTAN,40.825579,-73.948403,9,7,229,1061933,1020770014,Hamilton Heights,NaN
479,FY19 4723,2019,Youth,Levine,Wendy Hilliard Foundation,133879321,Cleared,10000,DYCD,Girl Gymnastic Team and Camp Dreamers,...,MANHATTAN,40.832145,-73.944376,9,7,237,1084180,1020850020,Hamilton Heights,NaN

225

In [11]:
display(council7_df[["amount","nta"]])
print(council7_df[["amount","nta"]].size)

     amount                  nta
106   27000       Manhattanville
205    3500       Manhattanville
235   29375     Hamilton Heights
348   25000     Hamilton Heights
479   10000     Hamilton Heights
508   78940       Manhattanville
808    4000       Manhattanville
903  125000     Hamilton Heights
978    5000  Morningside Heights

18